<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.unboxing.medicineassistant">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.setinform.DIYInformActivity"></activity>
        <activity android:name=".activity.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.login.ChangePwdActivity" />
        <activity android:name=".activity.login.ForgetPwdActivity" />
        <activity android:name=".activity.login.RegisterActivity" />
        <activity android:name=".activity.setinform.EditInformActivity" />
        <activity android:name=".activity.setinform.MedicineAssiantantMenuActivity" />
        <activity android:name=".activity.setinform.SearchMedicineActivity" />
        <activity android:name=".activity.setinform.InformListActivity" />
        <activity android:name=".activity.setinform.SetInformActivity" />
        <activity android:name=".activity.interaction.ListAllActivity"/>
        <activity android:name=".activity.interaction.ShowItemActivity" />
    </application>

</manifest>